.App {
  text-align: center;
}

.App-title {
  font-size: 5rem;
  color: rgb(255,255,255, 0.7);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}